@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: #FEFEFE;
    cursor: pointer;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body{
    color: #1B1818;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 19px;
}

.header{
    background-color: #332208;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu__list{
    display: flex;
}

.menu__item{
    margin: 0 15px;
}
.menu__item a:hover{
    padding: 5px 0;
    margin: 5px;
    transition: .5s;
    border-bottom: 2px solid white;
}

.menu__list-link{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
}

.phone{
    font-size: 18px;
    line-height: 21px;
}

.top{
    padding-bottom: 100px;
}

.top__heading{
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
}

.top__content{
    text-align: center;
    padding-top: 90px;
    width: 50%;
}

.top__title{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin: 0 auto 20px;
    max-width: 455px;
}

.top__text{
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 60px;
    max-width: 470px;
}
.application__bth{
    text-transform: uppercase;
    background-color: #C5AC2D;
    padding: 16px 19px 15px;
    border: 1px solid transparent;
    transition: all .5s;
        ;
}

.application__bth:hover{
    color: #C5AC2D;
    background-color: #FEFEFE;
    border: 1px solid #C5AC2D;
    transition: .3s;
}

.top__slider{
    width: 50%;
}

.top__slider .slick-dots{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slick-dots{
    list-style: none;
    text-align: center;
}

.slick-dots button{
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: #332208;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
}

.slick-active button{
    width: 12px;
    height: 12px;
}

.top__slider-images{
    width: 100%;
    height: 100%;
}

.top__slider-text{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    padding-right: 100px;
    text-align: right;
}

.top__buttom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.top__links a{
    color: #1B1818;
}

.top__items{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.top__item{
    padding: 10px;
    border: 1px solid #332208;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.top__item:hover{
    transform: scale(1.25);
    transition: .5s;
}

.top__links{
    padding-right: 80px;
}

.top__link{
    padding-bottom: 8px;
    color: #1B1818;
    margin: 0 10px;
    border-bottom: 1px solid #1B1818;
}

.rent{
    padding: 100px 0;
}

.rent__inner{
    display: flex;
    justify-content: space-between;
}

.rent__content{
    width: 300px;
}

.rent__title{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}

.rent__text{
    margin-bottom: 20px;
}

.rent__text + .rent__text{
    margin-bottom: 40px;
}

.rent__item{
    border: 1px solid #332208;
    width: 250px;
    min-height: 350px;
    padding: 0 35px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rent__item-num{
    font-size: 96px;
    line-height: 115px;
    opacity: 0.05;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
}

.rent__item-title{
    font-size: 18px;
    line-height: 22px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    margin-bottom: auto;
}

.benefits{
    padding: 100px 0;
}

.benefits__title{
    font-size: 18px;
    line-height: 22px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    margin-bottom: auto;
}

.benefits{
    padding: 100px 0;
}

.benefits__title{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
}

.benefits__items{
    display: flex;
    justify-content: space-between;
}

.benefits__list{
    width: 300px;
    list-style: none;
}

.benefits__list-item{
    margin-bottom: 27px;
    padding-right: 26px;
    position: relative;
    text-align: right;
}

.benefits__list-item::after{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #332208;
    right: 0;
    top: 3px;
}

.benefits__content{
    width: 300px;
    text-align: right;
}

.benefits__list-item:nth-child(1),
.benefits__list-item:nth-child(7){
    margin-right: 10px;
}

.benefits__list-item:nth-child(2),
.benefits__list-item:nth-child(6) {
    margin-right: 60px;
}

.benefits__list-item:nth-child(3),
.benefits__list-item:nth-child(5) {
    margin-right: 110px;
}

.benefits__list-item:nth-child(4){
    margin-right: 150px;
}

.benefit__text{
    margin-bottom: 30px;
    text-align: right;
}

.benefit__text + .benefit__text{
    width: 267px;
    margin-left: auto;
}

.video-popup{
    background-color: #C5AC2D;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    padding: 6px 34px 6px 64px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.video-popup::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url('../HTML/Photo/video-bth.svg');
    top: 12px;
    left: 34px;
}

.reviews{
    padding: 100px 0;
    background-color: #332208;
    color: #FEFEFE;
}

.reveiws__title{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 70px;
}

.reviews__item{
    border: 1px solid #C5AC2D;
    padding: 45px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 300px;
    text-align: center;
    margin-right: 30px;
}

.reviews__item-name{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 70px;
}

.slick-dots button{
    background-color: #C5AC2D;
}
.reviews__slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.reviews__slider button{
    margin: 0 5px;
    line-height: 12px;
}

.feadback{
    padding: 100px 0;
}

.feadback__inner{
    display: flex;
    align-items: center;
}

.feadback__images{
    width: 50%;

}

.feadback__form{
    width: 415px;
    margin: 0 auto;
}

.feadback__title{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 5px;
}

.feadback__text{
    margin-bottom: 30px;
}

.feadback__input{
    display: block;
    padding: 20px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.feadback__input::placeholder{
    line-height: 19px;
    font-size: 16px;
    color: #1B1818;
}

.feadback__bth{
    text-transform: uppercase;
    border: 1px solid transparent;
    display: inline-block;
    padding: 16px 36px 15px;
    background-color: #C5AC2D;
    margin-top: 50px;
    font-size: 16px;
    line-height: 19px;
}

.feadback__bth:hover{
    background-color: #FEFEFE;
    color: #C5AC2D;
    border: 1px solid #C5AC2D;
    transition: all .5s;
}

.footer{
    padding: 100px 0 24px;
    background-color: #332208;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}


.footer__social{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social-item{
    margin: 0 15px;
}

.menu__bth{
    display: none;
}

@media (max-width: 1000px) {
    .top__heading{
        display: block;
    }

    .top__content{
        text-align: center;
        width: 100%;
        padding-top: 30px;
        margin-bottom: 20px;
    }
    .top__slider{
        width: 100%;
    }
    .top__slider-images{
        width: 75%;
    }

    .top__buttom{
        display: block;
    }
    .top__links{
        padding-right: 0;
        padding-top: 50px;
        text-align: center ;
    }

    .top__items{
        width: 100%;
    }
}

@media (max-width: 860px){
    .menu{
        order: 1;
    }

    .menu__list{
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #332208;
        right: 0;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: 1s;
    }

    .menu__list.menu__list-active{
        transform:translateY(0);
        transition: 1s;
    }

    .menu__list-link{
        padding: 20px 0;
        display: block;
        text-align: center;
    }

    .menu__bth{
        display: block;
        cursor: pointer;
        width: 35px;
        height: 23px;
        border: none;
        border-top: 2px solid #FEFEFE;
        border-bottom: 2px solid #FEFEFE;
        background-color: transparent;
        position: relative;
    }

    .menu__bth::before{
        content: '';
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #FEFEFE;
        left: 0;
        top: 9px;
    }
}

@media (max-width: 525px) {
    .top__items{
        flex-wrap: wrap;
    }
    .top__item{
        margin: 20px;
    }

    .top__slider-text{
        padding-right: 0;
    }
}

@media (max-width: 410px) {
    .top__slider-images{
        width: 100%;
    }

    .top__item{
        width: 100%;
    }

    .top__links{
        text-align: center;
    }
    .top__link{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .top__link + .top__link{
        margin-right: 0;
    }
}
